<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>dev.razboy.instantmini.inject</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Library/ScriptingAdditions/instantmini.osax/Contents/Resources/auto-inject.sh</string>
      <string>zero</string>
      <string>all</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
      <key>SuccessfulExit</key>
      <false/>
    </dict>

    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>

    <key>ThrottleInterval</key>
    <integer>5</integer>

    <key>StandardOutPath</key>
    <string>/tmp/instantmini.out.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/instantmini.err.log</string>
  </dict>
</plist>
